*{
	margin: 0;
	padding: 0;
}
    /*font-family: 'Playfair Display', serif;

    font-family: 'Ubuntu', sans-serif;*/
a{
	text-decoration: none;
}
    .container{
    	width: 1140px;
    	margin: auto;
    }
    .navbar{
    	display: flex;
    	justify-content: space-between;
    }
    .header{
    	    padding: 32px 0px;
    }
    .menu{
    	text-align: right;
    }
    .menu ul li{
       list-style: none;
       display: inline-block;
       margin-left: 50px;

    }
    .menu ul li a{
        text-decoration: none;
            margin-left: 50px;
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            color: #626262;
            font-size: 14pt;
    }
    .menu ul li a:hover{
    	color: #b4ad9e;
    }
    .inner-container{
    	width: 90%;
    	margin: auto;
    	padding: 60px 16px;
    }
    .catagory{
    	font-family: 'Ubuntu', sans-serif;
    	color: #b4ad9e;
    	font-size: 14pt;
    	text-transform: uppercase;
    }
    .tittle{
    	font-family: 'Playfair Display', serif;
    	font-size: 30pt;
    	color: #626262;
    	font-weight: 400;
    	margin: 15px 0;
    }
    .content{
       font-family: 'Playfair Display', serif;
       font-size: 14pt;
       color: #626262;
       margin-bottom: 20px;
    }
.gallery{
	display: flex;
}
.item-1{
	margin-right: 20px;
}
.item-2{
	margin-left: 20px;
}
.gallery .catagory{
	margin-top: 20px;
}
.newslatter{
	width: 100%;
	background-color: #f0f0f0;
	padding: 60px 0px;
	text-align: center;
}
.subscribe-form h1{
	font-family: 'Playfair Display', serif;
    	font-size: 30pt;
    	color: #333333;
    	font-weight: 400;
}
.subscribe-form form input{
	    border: none;
    border-bottom: 1px solid black;
    padding: 15px 0 8px 0;
    width: 300px;
    background: transparent;
}
.subscribe-form form input:focus{
	outline: 0;
}
.subscribe-form form input::placeholder{
	font-family: 'Playfair Display', serif;
	color: #626262;
}
form{
	position: relative;
    display: inline-block;
}
.submit-icon{
	position: absolute;
	top: 12px;
	right: 0px;
    color: #626262;
}
.Load-More{
text-align: center;
margin: 60px 0px 32px 0px;
}
.Load-More button{
	padding: 20px 42px;
	background: transparent;
	border: 1px solid black;
	font-family: 'Playfair Display', serif;
	font-size: 20pt;
	color: #626262;
}
.Load-More button:hover{
	cursor: pointer;
	background: black;
	color: white;
}
.footer{
	width: 100%;
	background-color: #f0f0f0;
	padding: 20px 0;
}
.footer-info{
	display: flex;
	justify-content: space-between;
}
.footer-info ul li{
	list-style: none;
	display: inline-block;
}
.footer-menu ul li{
	margin-right: 20px;
}
.footer-menu ul li a{
	font-family: 'Playfair Display', serif;
	font-size: 14pt;
	color: #626262;
}
.footer-menu ul li a:hover{
	color: #b4ad9e;
}
.footer-icon ul li{
    margin-left: 20px;
}
.footer-icon ul li a{
color: #626262;
}
.footer-icon ul li a:hover{
	color: #b4ad9e;
}